@import url('./reset.css');


*,
*::after,
*::before {
     box-sizing: border-box;
}

:root {
     font-size: 16px;
}

body {
     font-family: 'Work Sans', sans-serif;
}

img {
     display: block;
}

.input::placeholder {
     opacity: 1;
     transition: opacity .3s;
}

.input:focus.input::placeholder {
     opacity: 0;
}

.container {
     width: 90%;
     max-width: 1140px;
     margin: 0 auto;
}

.btn {
     background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
     border-radius: 2px;

     font-style: normal;
     font-weight: bold;
     font-size: 18px;
     line-height: 13px;
     color: #FFFFFF;

     border: 0px;
     outline: none;

     padding: 18px 28px;
     transition: color .3s, background-color .3s, transform .3s, box-shadow .3s;
     min-width: 153px;
}

.btn:hover {
     background-color: #fff;
     color: #3040C4;
}

.btn:active {
     transform: scale(0.9);
     box-shadow: 0 0 30px #3040C4
}

/* HEADER START */
.header {
     background: #F3C6BD;
     overflow: hidden;
}

.header__top {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 55px 0;
}

.header__logo {
     width: 300px;
     height: 60px;
     display: inline-block;
}

.header__logo-min {
     display: none;
}

.header__logo-img {
     width: 100%;
}

.header__nav {
     display: flex;
     align-items: center;
}

.header__list {
     display: flex;
     list-style: none;
}

.header__item {
     position: relative;
}

.header__item+.header__item {
     margin-left: 35px;
}

.header__link {
     display: inline-block;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 25px;
     text-decoration: none;
     color: #2B292D;
     padding: 5px;
}

.header__link:hover {
     font-weight: 700;
}

.header__top .header__btn {
     margin-left: 75px;

}

.header__item ul {
     display: none;
}

.header__item:hover.header__item>ul {
     display: block;
     position: absolute;
     background: #FFFFFF;
     box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 29px 45px rgba(0, 0, 0, 0.08), 0px 11px 55px rgba(0, 0, 0, 0.07);
     top: 100%;
     right: 0;
     border-radius: 10px;
}

.header__item ul li {
     white-space: nowrap;
     margin: 0px 0px;
     padding: 0 30px;
     color: #2B292D;
}

.header__item ul li a {
     display: inline-block;
     font-style: normal;
     font-weight: bold;
     font-size: 22px;
     line-height: 26px;
     color: inherit;
     text-decoration: none;
     padding: 15px;
     transition: color .3s;
}

.header__item ul li:hover {
     color: #009B4D;
     position: relative;
}

.header__item ul li:hover>ul {
     display: block;
     position: absolute;
     top: 0;
     left: 80%;
     background: #FFFFFF;
     box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 29px 45px rgba(0, 0, 0, 0.08), 0px 11px 55px rgba(0, 0, 0, 0.07);
     padding: 25px 0px 15px;
     border-radius: 10px;
}

.header__bot {
     padding: 25px 0 107px;
     background: url('../img/ouch.svg')no-repeat center right;
     background-size: 796px;
}

.header__title {
     font-style: normal;
     font-weight: bold;
     font-size: 80px;
     line-height: 78px;
     letter-spacing: -0.5px;
     color: #2B292D;
     margin-bottom: 34px;
     max-width: 754px;
}

.header__subtitle {
     font-style: normal;
     font-weight: normal;
     font-size: 24px;
     line-height: 34px;
     color: #2B292D;
     margin-bottom: 58px;
     max-width: 456px;
}

.header__btn-lern {
     margin-left: 10px;
     background-color: #fff;
     color: #3040C4;
}

.header__btn-lern:hover {
     background-color: #3040C4;
     color: #fff;
}

.header__btn-lern:active {
     transform: scale(0.9);
     box-shadow: 0 0 30px #3040C4
}

.header__top-menu {
     display: none;
}


@media(max-width:1110px) {
     .header__top {
          padding: 35px 0;
     }

     .header__bot {
          padding: 25px 0 107px;
          background: url('../img/ouch.svg')no-repeat bottom right;
          background-size: 554px 312px;
     }

     .header__item ul li {
          padding: 0 15px;
     }

     .header__item ul li a {
          font-size: 18px;
          line-height: 26px;
          padding: 10px;
     }

     .header__item ul li:hover>ul {
          padding: 15px 0px 10px;
     }

}

@media(max-width:926px) {
     .header__nav .header__btn {
          display: none;
     }

     .header__bot {
          padding: 15px 0 156px;
     }

     .header__subtitle {
          max-width: 420px;
     }

     .header__item ul li {
          padding: 0 10px;
     }

     .header__list {
          display: none;
     }

     .header__top-menu {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          padding: 15px 10px;
          position: absolute;
          top: 30px;
          right: 50px;
     }


     .header__top-line {
          width: 30px;
          height: 2px;
          background-color: #fff;

     }

     .header__top-line:after {
          content: '';
          display: block;
          position: absolute;
          width: 30px;
          height: 2px;
          background-color: #fff;
          top: 15px;
          left: 10px;
     }

     .header__top-line:before {
          content: '';
          display: block;
          position: absolute;
          width: 30px;
          height: 2px;
          background-color: #fff;
          bottom: 15px;
          left: 10px;
     }

     .header__top-menu--active .header__top-line {
          transform: rotateZ(45deg);
          transition: transform .5s;
     }

     .header__top-menu--active .header__top-line:after {
          transform: rotateZ(-90deg);
          top: 0px;
          left: 0px;
          transition: transform .5s;
     }

     .header__top-menu--active .header__top-line::before {
          display: none;
     }

     .header__nav {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          max-width: 320px;
          min-height: 100vh;
          background-color: #fff;
          transform: translateX(-150%);
          transition: transform .5s;
          padding: 25px 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
     }

     .header__nav--active {
          transform: translateX(0);
     }

     .header__list {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: space-between;
          width: 100%;
          height: 100%;
     }

     .header__item {
          position: relative;
          width: 100%;
          margin-bottom: 25px;
     }

     .header__item+.header__item {
          margin-left: 0;
     }

     .header__link {
          width: 100%;
          padding-bottom: 15px;
          border-bottom: 1px solid #2b292d10
     }

     .header__nav .header__btn {
          display: block;
          width: 100%;
          margin-left: 0;
     }

     .header__item ul {
          display: none;
     }

     .header__item:hover.header__item>ul {
          display: block;
          position: relative;
          box-shadow: none;
          top: 0;
          right: 0;
          border-radius: 0;
     }


     .header__item ul li:hover>ul {
          position: relative;
          top: 0;
          left: 0;
          background: #FFFFFF;
          box-shadow: none;
          padding: 10px 0px 15px 15px;
          border-radius: 0;
     }
}

@media(max-width:656px) {
     .header__logo {
          display: none;
     }

     .header__logo-min {
          display: block;
     }

     .header__top-line {
          background-color: #fff;

     }

     .header__top-line:after {
          content: '';
          display: block;
          position: absolute;
          width: 30px;
          height: 2px;
          background-color: #fff;
          top: 15px;
          left: 10px;
     }

     .header__top-line:before {
          content: '';
          display: block;
          position: absolute;
          width: 30px;
          height: 2px;
          background-color: #fff;
          bottom: 15px;
          left: 10px;
     }

     .header__top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          padding: 20px 0;
     }

     .header__bot {
          padding: 35px 0 60px;
          background: none;
     }

     .header__title {
          font-size: 36px;
          line-height: 36px;
          margin-bottom: 16px;
     }

     .header__subtitle {
          font-size: 24px;
          line-height: 34px;
          margin-bottom: 35px;
     }

     .header__btn-lern {
          margin-top: 15px;
          margin-left: 0;
          display: block;
     }

}

@media(max-width:426px) {
     .header__nav {
          max-width: 426px;
          padding-top: 80px;
     }

     .header__top-line {
          background-color: #2B292D;
     }

     .header__top-line:after {
          background-color: #2B292D;
     }

     .header__top-line:before {
          background-color: #2B292D;
     }
}

/* HEADER END */
/* audience START */
.audience {
     padding: 100px;
}

.audiense__title {
     font-style: normal;
     font-weight: bold;
     font-size: 56px;
     line-height: 56px;
     text-align: center;
     letter-spacing: -0.5px;
     color: #2B292D;
     margin: 0 auto 30px;
     max-width: 555px;
}

.audiense__subtitle {
     font-style: normal;
     font-weight: normal;
     font-size: 24px;
     line-height: 34px;
     text-align: center;
     color: #2B292D;
     max-width: 555px;
     margin: 0 auto 80px;
}

.audiense__cards {
     display: grid;
     grid-template-rows: 1fr 1fr;
     grid-template-columns: 1fr 1fr 1fr;
     grid-row-gap: 50px;
     grid-column-gap: 35px;
}

.card__icon {
     width: 33px;
     height: 33px;
     margin-bottom: 20px;
     display: inline-block;
}

.card__title {
     font-style: normal;
     font-weight: bold;
     font-size: 20px;
     line-height: 26px;
     color: #2B292D;
     margin-bottom: 15px;
}

.card__text {
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 26px;
     color: #2B292D;
     margin-bottom: 15px;
}

.card__link {
     font-style: normal;
     font-weight: bold;
     font-size: 18px;
     line-height: 26px;
     text-decoration-line: underline;
     color: #3142C6;
     margin-bottom: 15px;
     transition: color .3s;
}

.card__icon {
     fill: #E12729;
}

.card__link:hover {
     color: #E12729;
}

@media(max-width:1024px) {
     .audience {
          padding: 100px 0 170px;
     }

     .audiense__subtitle {
          margin: 0 auto 170px;
     }

     .audiense__cards {
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr;
          grid-row-gap: 80px;
          grid-column-gap: 135px;
     }
}

@media(max-width:768px) {
     .audience {
          padding: 100px 0;
     }

     .audiense__subtitle {
          margin: 0 auto 100px;
     }

     .audiense__cards {
          grid-template-rows: 1fr;
          grid-template-columns: 1fr;
     }

     .audiense__card {
          max-width: 360px;
          margin: 0 auto;
     }
}

@media(max-width:586px) {
     .audience {
          padding: 80px 0;
     }

     .audiense__subtitle {
          margin: 0 auto 100px;
          font-size: 24px;
          line-height: 36px;
     }

     .audiense__cards {
          grid-row-gap: 60px;
     }

     .audiense__card {
          max-width: 360px;
          margin: 0 auto;
     }

     .audiense__title {
          font-size: 36px;
          line-height: 36px;
     }

     .card__title {
          font-size: 18px;
     }
}




/* audience END */

/* custom START */
.custom {
     background: #F4F5F7;
     background-size: 1086px;
     padding: 85px 0 130px;
     overflow: hidden;
}

.custom .container {
     position: relative;
}

.costom__img-box {
     width: 1086px;
     height: 597px;
     position: absolute;
     right: -495px;
     top: 50%;
     transform: translateY(-50%);
}

.custom__wrapper {
     max-width: 450px;
}

.custom__suptitle {
     font-style: normal;
     font-weight: bold;
     font-size: 22px;
     line-height: 34px;
     color: #009B4D;
     margin-bottom: 25px;
}

.custom__title {
     font-style: normal;
     font-weight: bold;
     font-size: 56px;
     line-height: 56px;
     letter-spacing: -0.5px;
     color: #2B292D;
     margin-bottom: 30px;
}

.custom__description {
     font-style: normal;
     font-weight: normal;
     font-size: 24px;
     line-height: 34px;
     color: #2B292D;
     margin-bottom: 42px;
}

.custom__acardion {
     border-bottom: 1px solid #2b292d12;
     margin-bottom: 10px;
}

.acardion__header {
     display: flex;
     align-items: center;
     color: #2B292D;
     fill: #2B292D;
     margin-bottom: 10px;
}

.checkbox {
     display: none;
}

.checkbox:hover~.custom__icon,
.checkbox:hover~.acardion__name {
     color: #3142C6;
     fill: #3142C6;
}

.custom__icon {
     margin-right: 15px;
     transition: fill .3s;
}

.acardion__name {
     font-style: normal;
     font-weight: bold;
     font-size: 22px;
     line-height: 26px;
     transition: color .3s;
}

.acardion__text {
     display: none;
     font-weight: normal;
     font-size: 18px;
     line-height: 26px;
     color: #2B292D;
     padding-bottom: 8px;
     margin-top: 10px;
     height: 0px;
}

.checkbox:checked~.acardion__text {
     height: 100%;
     display: block;
}

@media(max-width:1136px) {
     .custom {
          background: #F4F5F7;
     }

     .costom__img-box {
          right: -658px;
     }

     .custom__suptitle {
          display: none;
     }
}

@media(max-width:984px) {
     .costom__img-box {
          display: none;
     }

     .custom__wrapper {
          max-width: 461px;
          margin: 0 auto;
     }
}

@media(max-width:586px) {
     .custom {
          padding: 75px 0 55px;
     }

     .custom__wrapper {
          max-width: 100%;
     }

     .custom__title {
          font-size: 36px;
          line-height: 36px;
          text-align: center;
     }

     .custom__description {
          text-align: center;
     }
}

/* custom END */
/* contacts start */
.contacts {
     padding: 100px 0;
}

.contacts__title {
     font-family: Work Sans;
     font-style: normal;
     font-weight: bold;
     font-size: 56px;
     line-height: 56px;
     text-align: center;
     letter-spacing: -0.5px;
     color: #2B292D;
     margin-bottom: 60px;
}

.contacts__wrapper {
     position: relative;
}

.contacts__img-box {
     position: absolute;
     width: 369px;
     height: 367px;
     right: 134px;
     top: -16px;
}

.contacts__form {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     margin: 0 auto;
     max-width: 554px;
     width: 100%;
}

.contacts__lable {
     font-family: Work Sans;
     font-style: normal;
     font-weight: bold;
     font-size: 16px;
     line-height: 22px;
     color: #2C3241;
     margin-bottom: 8px;
}

.contacts__input {
     font-family: Work Sans;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 36px;
     color: #2C3241;
     opacity: 1;
     margin-bottom: 38px;
     width: 100%;
     border: 1px solid rgba(0, 0, 0, 0.2);
     box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
     border-radius: 2px;
     padding: 6px 0 6px 15px;
}

.contacts__input::placeholder {
     opacity: 0.6;
}

.contacts__input-mes {
     min-height: 168px;
     resize: none;

}

.contacts__btn {
     width: 100%;
}

.contacts__btn:hover {
     background: #F4F5F7;
}

@media(max-width:1024px) {
     .contacts__img-box {
          display: none;
     }
}

@media(max-width:586px) {
     .contacts {
          padding: 50px 0 80px;
     }

     .contacts__title {
          font-size: 36px;
          line-height: 56px;
          margin-bottom: 50px;
     }

     .contacts__input-mes {
          min-height: 200px;
     }
}

/* contacts END */

/* start START */
.start {
     background: #F4F5F7;
     padding: 75px 0 50px;
}

.start__wrapper {
     max-width: 970px;
     width: 100%;
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
     margin: 0 auto;
}

.start__img-box {
     max-width: 269px;
     max-height: 308px;
}

.start__info {
     max-width: 557px;
     padding-top: 17px;
}

.start__title {
     font-family: Work Sans;
     font-style: normal;
     font-weight: bold;
     font-size: 40px;
     line-height: 40px;
     letter-spacing: -0.25px;
     color: #2B292D;
     margin-bottom: 10px;
}

.start__description {
     margin-bottom: 27px;
     font-family: Work Sans;
     font-style: normal;
     font-weight: normal;
     font-size: 22px;
     line-height: 32px;
     color: #2B292D;
}

.start__input {
     background: #FFFFFF;
     border: 1px solid rgba(43, 41, 45, 0.2);
     box-sizing: border-box;
     border-radius: 2px;
     max-width: 385px;
     width: 100%;
     padding: 13px 0 14px 15px;
     font-family: Work Sans;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 10px;
     color: #2B292D;
}

@media(max-width:1024px) {
     .start__img-box {
          max-width: 231px;
          max-height: 265px;
     }

     .start {
          padding: 75px 0 111px;
     }
}

@media(max-width:984px) {
     .start {
          padding: 65px 0 95px;
     }

     .start__wrapper {
          max-width: 555px;
     }

     .start__img-box {
          display: none;
     }

     .start__info {
          max-width: 984px;
          padding-top: 0px;
     }
}

@media(max-width:604px) {
     .start {
          padding: 60px 0 80px;
     }

     .start__title {
          font-size: 36px;
          line-height: 36px;
     }

     .start__input {
          max-width: 604px;
          margin-bottom: 32px;
     }

     .start__btn {
          width: 100%;
     }
}

/* START END */
/* footer start */
.footer__top {
     padding: 50px 0;
     border-bottom: 1px solid #2b292d10;
}

.footer__top-wrapper {
     display: grid;
     grid-template-rows: 1fr;
     grid-template-columns: repeat(4, 1fr);
     grid-column-gap: 30px;
}

.footer__top-tems {
     padding-left: 15px;
}

.footer__top-title {
     font-family: Work Sans;
     font-style: normal;
     font-weight: bold;
     font-size: 22px;
     line-height: 28px;
     color: #2B292D;
     margin-bottom: 18px;
}

.footer__top-list {
     list-style: none;
}

.footer__top-link {
     font-family: Work Sans;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 30px;
     color: rgba(43, 41, 45, 0.6);
     text-decoration: none;
     padding-bottom: 8px;
}

.footer__bot {
     padding: 16px 0;
}

.footer__bot-wrapper {
     display: flex;
     align-items: center;
     justify-content: center;
}

.footer__bot-link {
     margin: 0 10px;
     padding: 5px;
     display: block;
}

.footer__bot-icon {
     fill: #2b292d60;
     transition: fill .3s;
}

.footer__bot-link:hover .footer__bot-icon--tw {
     fill: #00acee;
}

.footer__bot-link:hover .footer__bot-icon--fb {
     fill: #3b5998;
}

.footer__bot-link:hover .footer__bot-icon--li {
     fill: #076ea8;

}

@media(max-width:1024px) {
     .footer__top {
          padding: 100px 0 78px;
     }

     .footer__top-wrapper {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 0;
          grid-column-gap: 60px;
          max-width: 559px;
          width: 100%;
          margin: 0 auto;
          justify-content: center;
     }

     .footer__top-tems {
          width: 100%;
          padding-left: 35px;

     }

     .footer__top-tems:nth-child(3),
     .footer__top-tems:nth-child(4) {
          display: none;
     }
}

@media(max-width:526px) {
     .footer__top {
          padding: 60px 0;
     }

     .footer__top-wrapper {
          display: grid;
          grid-template-columns: 1fr;
          grid-row-gap: 60px;
          max-width: 267px;
          width: 100%;
          margin: 0 auto;
          justify-content: center;
     }

     .footer__top-tems {
          width: 100%;
          padding-left: 50px;

     }
}

/* footer start */